<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dbt1_jzjm_djs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{313,43}</string>
                <key>spriteSourceSize</key>
                <string>{313,43}</string>
                <key>textureRect</key>
                <string>{{1413,83},{313,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dlyx_an_jzjm_djs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{503,80}</string>
                <key>spriteSourceSize</key>
                <string>{503,80}</string>
                <key>textureRect</key>
                <string>{{1413,1},{503,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hct_dljm_sjdt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1136,29}</string>
                <key>spriteSourceSize</key>
                <string>{1136,29}</string>
                <key>textureRect</key>
                <string>{{1,127},{1136,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hctd_dljm_sjdt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{1918,1},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mm_jzjm_djs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,36}</string>
                <key>spriteSourceSize</key>
                <string>{74,36}</string>
                <key>textureRect</key>
                <string>{{1767,83},{74,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tyan1_dljm_sjdt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,37}</string>
                <key>spriteSourceSize</key>
                <string>{37,37}</string>
                <key>textureRect</key>
                <string>{{1728,83},{37,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tyan2_dljm_sjdt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{31,29}</string>
                <key>spriteSourceSize</key>
                <string>{37,37}</string>
                <key>textureRect</key>
                <string>{{1139,127},{31,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wxdl1_dljm_sjdt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{351,124}</string>
                <key>spriteSourceSize</key>
                <string>{351,124}</string>
                <key>textureRect</key>
                <string>{{1,1},{351,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wxdl2_dljm_sjdt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{351,124}</string>
                <key>spriteSourceSize</key>
                <string>{351,124}</string>
                <key>textureRect</key>
                <string>{{354,1},{351,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ykdl1_dljm_sjdt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{351,124}</string>
                <key>spriteSourceSize</key>
                <string>{351,124}</string>
                <key>textureRect</key>
                <string>{{707,1},{351,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ykdl2_dljm_sjdt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{351,124}</string>
                <key>spriteSourceSize</key>
                <string>{351,124}</string>
                <key>textureRect</key>
                <string>{{1060,1},{351,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zh_jzjm_djs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,36}</string>
                <key>spriteSourceSize</key>
                <string>{74,36}</string>
                <key>textureRect</key>
                <string>{{1843,83},{74,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>login.png</string>
            <key>size</key>
            <string>{1955,157}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a04fafa09738672fd2c58fc39979595:b6c3d884ffa30aa44af9a3e4ba3a6d5b:70c8faf287b801f42cfa7c57415c1cdf$</string>
            <key>textureFileName</key>
            <string>login.png</string>
        </dict>
    </dict>
</plist>
